.heading-intro::after {
  position: absolute;
  content: "";
  padding: 4px;
  width: 50%;
  background-color: var(--bg-red);
  top: 100%;
  left: 25%;
  transition: 0.5s transform;
  animation: 1s forwards flip;
  border-radius: 50%;
}
.heading-intro::before {
  position: absolute;
  content: "";
  padding: 4px;
  width: 50%;
  background-color: var(--bg-light-purple);
  bottom: 100%;
  left: 25%;
  transition: 0.5s transform;
  animation: 1s forwards flip;
  border-radius: 50%;
}

@keyframes flip {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
