@import url("https://fonts.googleapis.com/css2?family=Amita&family=Jost&display=swap");

:root {
  --bg-red: #db3157;
  --bg-yellow: #ffd845;

  --light: #f0f0f0;
  --bg-light-purple: #6f77f4;
  --button-primary: #3a47d5;
  --button-secondary: #ccf381;

  --light-box-shadow: 2px 2px 24px white;
  --dark-box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* > img {
  max-width: 100%;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "header  header header header header header"
    "intro intro intro intro intro intro"
    "main main main main main main"
    "footer footer footer footer footer footer";
  overflow-x: hidden;
  position: relative;
}

header {
  grid-area: header;
}
.intro-wrapper {
  grid-area: intro;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Amita", cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h3,
h4,
li,
footer,
a,
p,
.cta,
button {
  font-family: "Overpass", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-size: 1.1em;
}
p {
  font-size: 1.3em;
  line-height: 1.8em;
}
h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  border-bottom: 1px solid var(--bg-light-purple);
}

h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.7em;
}

/* global grid and flex */
.grid-one-column {
  display: grid;
  grid-template-columns: auto;
}
.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
/*  global header */
header {
  position: relative;
  align-items: center;
  gap: 10px;
  color: black;
  box-shadow: var(--dark-box-shadow);
}

#logo {
  width: 80%;
}
/* pc navigation */
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  text-align: center;
}
nav ul li {
  position: relative;
  padding: 16px;
}
nav ul li a {
  font-size: 1.3em;
}
nav ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s linear;
  pointer-events: none;
}

nav ul li:hover::before {
  box-shadow: var(--dark-box-shadow);
  border-radius: 4px;
}
.active {
  box-shadow: var(--dark-box-shadow);
  border-radius: 4px;
  pointer-events: none;
  padding: 16px;
}
.contact-btn {
  border: 1px solid var(--button-primary);
  padding: 16px 32px;
  border-radius: 4px;
  transition: 0.2s linear;
  position: relative;
}

.contact-btn::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "Contact";
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--button-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s transform;
}
.contact-btn:hover::after {
  transform: scale(1);
}
/* mobile navigation */
.navigation-mobile {
  position: fixed;
  width: 125px;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.5s transform;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  font-size: 0.8em;
  background-color: white;
}
.mobile-ul,
.mobile-social-icons {
  display: flex;
  flex-direction: column;
}
.show-nav-mobile {
  transform: translateX(0%);
}

.hamburger {
  position: absolute;
  right: 30px;
  top: 60px;
  font-size: 1.7em;
  display: none;
}

/* intro section */
.intro-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--bg-light-purple);
}

.heading-intro {
  position: relative;
  text-align: center;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  animation: 1s forwards slider;
  opacity: 0;
  color: white;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes slider {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fa-chevron-down {
  font-size: 1.5em;
  margin-top: 50px;
  animation: 1.2s infinite scroll-down;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.5s transform;
  transform-origin: bottom;
}

@keyframes scroll-down {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* global main */
main {
  position: relative;
  padding: 16px;
  background-color: var(--light);
}
/* wrapper for h2, intro and all sites*/
.sites-wrapper {
  padding: 50px 10px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1000px;
  transition: 1s ease-in;
  margin: 0 auto;
}

.sites-wrapper h3 {
  margin-top: 40px;
}
/* sub wrapper sections for project sites */
.sites-wrapper img {
  box-shadow: var(--dark-box-shadow);
}

.active-tab {
  transition: 0.4s linear;
  border-bottom: 5px solid var(--button-primary);
  cursor: default;
  pointer-events: none;
}

.tabs {
  /* box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.4); */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: white;
}

button {
  background: none;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 1.5em;
  transition: 0.6s linear;

  position: relative;
}

button::after {
  content: "";
  width: 100%;
  left: 0;
  height: 5px;
  position: absolute;
  background-color: var(--button-primary);
  bottom: 0px;
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom;
  transition: 0.7s transform;
}
button:hover::after {
  transform: scale(1);
  opacity: 1;
}

.site-one-wrapper,
.site-two-wrapper,
.site-three-wrapper {
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 40px;
  box-shadow: var(--dark-box-shadow);
  background-color: white;
}
.site-one-wrapper {
  display: flex;
}
.all-sites ul {
  list-style-position: inside;
  list-style-type: square;
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}
.all-sites {
  opacity: 0;
  transition: 1s opacity;
}
/* buttons for external links */
.fa-github,
.fa-external-link-alt {
  padding: 12px;
  background: var(--button-primary);
  color: white;
  font-size: 0.7em;
}
.fa-github:hover,
.fa-external-link-alt:hover {
  color: var(--bg-red);
}
/* skills section */
.skills {
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  opacity: 0;
  transition: 1s opacity;
}
.skills-content {
  max-width: 1000px;
  margin: 80px auto;
  font-size: 1.1em;
  gap: 50px;

  padding: 12px;
}
.skills h2 {
  grid-column: 1/-1;
}
.skills-content .fab,
.skills-content .fas {
  font-size: 2.2em;
}

.add-opacity {
  opacity: 1;
}

/* global footer */
footer {
  grid-area: footer;
  border-top: 1px solid var(--bg-light-purple);
  padding: 20px;
  text-align: center;
  margin: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-top {
  position: absolute;
  right: 50px;
  bottom: 200px;
  font-size: 1em;
  background-color: var(--button-primary);
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
}

/* social icons in footer section */
.social-icons {
  font-size: 1.3em;
  display: flex;
  gap: 10px;
}
.social-icons .fab,
.social-icons .fas {
  padding: 12px;
  text-align: center;
  transition: 0.5s ease;
}
.social-icons .fab:hover,
.social-icons .fas:hover {
  box-shadow: var(--dark-box-shadow);
}
